@tailwind base;
@tailwind utilities;
@tailwind components;

/* :root {
  --header-height: 467px;
} */

:root {
  --pointer-box-height: 40px;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

figure {
  all: unset;
  display: block;
  margin: 0;
  padding: 0;
}

input {
  all: unset;
  border: none;
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  /* pointer-events: none; */
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  border: 2px solid #beaee2;
  box-sizing: border-box;
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  pointer-events: auto;
}

input[type="range"]::-webkit-slider-runnable-track {
}
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
  background-color: "white";
  cursor: pointer;
  border: 2px solid #2eef4d;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* landing */
.review-star {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: #beaee2 1px;
}

@layer base {
  .range-point-selected {
    @apply block h-1/2 bg-white content-[''] aspect-square rounded-full;
  }
}

/* signin */
@keyframes afterLogin {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes verificationAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.afterLogin {
  animation: afterLogin 0.5s ease-in-out forwards;
}

.verificationAppear {
  animation: verificationAppear 0.5s ease-in-out forwards;
}

/* floating */
@keyframes Floating {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Shrinking {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.floating {
  animation: Floating 0.5s ease-in-out forwards;
}

.shrinking {
  animation: Shrinking 0.5s ease-in-out forwards;
}

/* Custom Input */
.range-point {
  transform-origin: center;
  /* h-full aspect-square rounded-full shadow-md */
  aspect-ratio: 1;
  border-radius: 50%;
  height: 100%;
}

.range-point-left {
  transform: translateX(-50%) scale(200%);
}

.range-point-right {
  transform: translateX(50%) scale(200%);
}

/* Pointer Box */

.pointer-box-frame {
  height: var(--pointer-box-height);
  border-radius: calc(var(--pointer-box-height) / 2);
}

.pointer-box-triangle {
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom-style: solid;
}
